/** Body **/
body {
margin: 0px;
font-family: 'Titillium Web', sans-serif;
  background-image: url(../images/castle-450.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  margin: auto;
  text-align: center;
  width:100%;
  height: 80%;
  background-color: #7ac5ff;
}


/** Header Region **/

header {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  }

  h1 {
    margin: auto;
    z-index: 100;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    font-family: 'Lobster', cursive;
    font-size:2em;
    line-height: 55px;

  }
.head {
z-index: 99;
width:70%;
max-height: 80px;
max-width: 600px;
margin: auto;
text-align: center;
}

.clouds {
  position:fixed;
  bottom: 0px;
  right: 0px;
  text-align: center;
  z-index: -5;
  width: 100%;

}

.cloud {
  z-index: 101;
  position: absolute;
  bottom:-50px;
  right:10%;
}

/** Navigation uses Bootstrap **/

/** Body **/
h2 {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
color: #FFFFFF;
}

h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
color: #FFFFFF;
}

a, a:hover {
  text-decoration: none;
}



/** Footer **/
.footer {

}

@media screen and (max-width: 1024px) {
  body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
    background-image: url(../images/castle-450.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    margin: auto;
    text-align: center;
  }
  h1 {
    margin: auto;
    z-index: 100;
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 20%;
    font-family: 'Lobster', cursive;
    font-size:2em;
    line-height: 55px;
  }
}

@media screen and (max-width: 800px) {
  body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
    background-image: url(../images/castle-300.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    margin: auto;
    text-align: center;
  }


    h1 {
      margin: auto;
      z-index: 100;
      width:100%;
      text-align: center;
      position: absolute;
      bottom: 20%;
      font-family: 'Lobster', cursive;
      font-size:1.4em;
      line-height: 50px;
    }
}


@media screen and (max-width: 660px) {
  body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
    background-image: url(../images/castle-300.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    margin: auto;
    text-align: center;
  }

    h1 {
      margin: auto;
      z-index: 100;
      width:100%;
      text-align: center;
      position: absolute;
      bottom: 20%;
      font-family: 'Lobster', cursive;
      font-size:1.4em;
      line-height: 40px;
    }
}

@media screen and (max-width: 450px) {
  body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
    background-image: url(../images/castle-300.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    margin: auto;
    text-align: center;
  }

    h1 {
      margin: auto;
      z-index: 100;
      width:100%;
      text-align: center;
      position: absolute;
      bottom: 20%;
      font-family: 'Lobster', cursive;
      font-size:1.2em;
      line-height: 40px;
    }
}
